doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Pilar Barker - Software Engineer

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,600', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // Third party plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container
                a.navbar-brand.js-scroll-trigger(style={color: "var(--blue)"})(href='#page-top') Pilar Barker
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link.js-scroll-trigger(style={color: "var(--blue)"})(href='#about') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(style={color: "var(--blue)"})(href='#services') Skills
                        li.nav-item
                            a.nav-link.js-scroll-trigger(style={color: "var(--blue)"})(href='#portfolio') Projects
                        li.nav-item
                            a.nav-link.js-scroll-trigger(style={color: "var(--blue)"})(href='#contact') Contact
                        li.nav-item
                            a.nav-link(style={color: "var(--blue)"})(href='assets/img/pilar_resume.pdf') Resume

        // Masthead
        header.masthead
            .container.h-100
                .row.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-self-end
                        h1.text-uppercase.text-white.font-weight-bold Hi, I'm Pilar Barker!
                        hr.divider.my-4
                    .col-lg-8.align-self-baseline
                        a.btn.btn-secondary.btn-xl.js-scroll-trigger(href='#about') Find Out More

        // About
        section#about.page-section.bg-primary
            .container
                .row-ab.justify-content-center
                    .col-lg-12.text-center
                        h2.text-white.mt-0 Hola!
                        hr.divider.light.my-4
                        h4.p-2x.text-white-50.mb-4
                            | I just graduated from an online immersive software engineering bootcamp at General Assembly, where I was introduced to a variety of languages and technologies. I have a keen attention to detail and enjoy creating user focused web applications with eye popping designs. I enjoy solving complex challenges and can excel in either individual or team based environments :)
        // Services
        section#services.page-section
            .container
                h2.text-center.mt-0 Skills
                hr.divider.my-4
                .row
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fab.fa-4x.fa-html5.text-blue.mb-4.
                            h3.h4.mb-2 HTML
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fab.fa-4x.fa-js-square.text-blue.mb-4
                            h3.h4.mb-2 Javascript
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fab.fa-4x.fa-css3.text-blue.mb-4
                            h3.h4.mb-2 CSS
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fab.fa-4x.fa-sass.text-blue.mb-4
                            h3.h4.mb-2 SaSS
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fab.fa-4x.fa-react.text-blue.mb-4
                            h3.h4.mb-2 ReactJS
                            p.text--muted.mb-0 
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-gem.text-blue.mb-4
                            h3.h4.mb-2 Ruby
                            p.text--muted.mb-0
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fab.fa-4x.fa-envira.text-blue.mb-4.i-rot
                            h3.h4.mb-2 MongoDB
                            p.text--muted.mb-0
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-database.text-blue.mb-4
                            h3.h4.mb-2 PostgreSQL
                            p.text--muted.mb-0
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-gem.text-blue.mb-4
                            h3.h4.mb-2 Rails
                            p.text--muted.mb-0
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fab.fa-4x.fa-node-js.text-blue.mb-4
                            h3.h4.mb-2 NodeJS
                            p.text--muted.mb-0
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-server.text-blue.mb-4
                            h3.h4.mb-2 Express
                            p.text--muted.mb-0
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fab.fa-4x.fa-git-alt.text-blue.mb-4
                            h3.h4.mb-2 Git
                            p.text--muted.mb-0
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fab.fa-4x.fa-github.text-blue.mb-4
                            h3.h4.mb-2 GitHub
                            p.text--muted.mb-0
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-laptop-code.text-blue.mb-4
                            h3.h4.mb-2 Heroku
                            p.text--muted.mb-0

        // Portfolio
        div#portfolio
            .container-fluid.p-0
                .row.no-gutters
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='https://sad-haibt-3e6c47.netlify.com/', target='_blank')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/roll_the_dice_final.png', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | HTML | JS | CSS
                                .project-name
                                    | MY FIRST PROJECT EVER
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='https://msanaya.github.io/', target='_blank')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/studio_ghibli_final.png', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | HTML | CSS | JS 
                                .project-name
                                    | Studio Ghibli Character LookUp
                    .col-lg-4.col-sm-6
                      a.portfolio-box(href='https://laughing-nightingale-b72a74.netlify.app/', target='_blank')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/trackerista_final.png', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | HTML | CSS | ReactJS
                                .project-name
                                    | Trackerista
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='https://kind-heyrovsky-dce985.netlify.app/', target='_blank')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/apollo_hardware_final.png', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | HTML | CSS | React | JS | MongoDB
                                .project-name
                                    | Apollo Hardware
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='https://stupefied-wescoff-5f9d5e.netlify.app/', target='_blank')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/da_haus_final.png', alt='')
                            .portfolio-box-caption.p-3
                                .project-category.text-white-50
                                    | HTML | CSS | React | Rails | Ruby | PostgreSQL
                                .project-name
                                    | Da Haus
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='https://www.apexelitedirectmarketing.com/', target='_blank')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/apex_marketing_final.png', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | HTML | CSS | JS
                                .project-name
                                    | Apex Elite Direct Marketing


        //- // Call to action
        //- section.page-section.bg-dark.text-white
        //-     .container.text-center
        //-         h2.mb-4 Free Download at Start Bootstrap!
        //-         a.btn.btn-light.btn-xl(href='https://startbootstrap.com/themes/creative/') Download Now!

        // Contact
        section#contact.page-section
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.mt-0 Drop me a line!
                        hr.divider.my-4
                        p.text-muted.mb-5
                            | Do you have an awesome idea, want to work together, have questions about my projects or just want to say hello? Call, text or email me! I try my best to respond as soon as I can. I'm also currently living in the land of the terrible twos so please allow me a couple of days to answer back. Gracias!
                .row
                    .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
                        i.fas.fa-phone.fa-3x.mb-3.text-blue
                        div +1 (352) 233-7206
                    .col-lg-4.mr-auto.text-center
                        i.fas.fa-envelope.fa-3x.mb-3.text-blue

                        // Make sure to change the email address in BOTH the anchor text and the link target below!
                        a.d-block(href='mailto:pbarkerit@gmail.com') pbarkerit@gmail.com

        // Footer
        footer.bg-light.py-4
            .container
                .small.text-center.text-muted Made with ❤️ using Bootstrap | Pilar Barker
                
        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')

        // Core theme JS
        script(src='js/scripts.js')
